############
## Eclipse
############
 
.settings/
#.project
.classpath
bin/

############
## ADT
############

gen/
res/values-*/
project.properties

############
## Custom
############

libs/
assets/
proguard-project.txt